/**baiduTowPageStyle**/
#wrapper_wrapper #container {
    width: auto;
}
form.fm{
    position: relative;
    width: 50%;
    left: calc(12%);
    background-color: unset;
}
#wrapper .s_tab_inner{
    margin-left: 12%;
}
#s_tab b,#s_tab a {
    position: relative;
}
#result_logo{
    position: relative;
    left: calc(12%);
}
.wrapper_l #kw {
    width: 100%;
}
#container .head_nums_cont_outer .search_tool_conter,#container .head_nums_cont_outer .nums {
    width: 80%;
}
#container .head_nums_cont_outer, .hint_common_restop{
    position: relative;
    left: 10%;
    width: 80%;
}
#container #content_left {
    display: inline-grid;
    grid-template-columns: 50% 50%;
    margin: 0 auto;
    position: relative;
    padding-left: 5%;
    float: unset;
    width: 80%;
    margin-left:7%;
    margin-bottom: 30px;
}
#container #content_right{
    display:none !important;
}
#container #rs {
    position: relative;
    margin: 0 auto;
}
#container #page {
    min-width: 710px;
    height: 40px;
    line-height: 40px;
    padding: 5px 10px;
    margin: 0 auto;
    text-align: center;
    position: relative;
}
#container #content_left .result,
#container #content_left .c-container {
    width: unset !important;
    max-width: 100%;
    margin-bottom: 30px;
    margin-left: 5px;
    margin-right: 15px;
}
#container #content_left>*:not([class*='result']){
	grid-column-start: 1;
	grid-column-end: 3;
}
.c-container h3 a{
    z-index:1;
}
/*search engine jump*/
#sej-container{
    padding-left: calc(12% - 113px) !important;
}