/**BaiduCommonStyle**/
iframe,
.res_top_banner
#foot,
#page .fk,
#head .headBlock,
#rs_top_new,
#container #content_left>table,
#container #content_left .c-recommend,
#container #content_left .leftBlock,
#container #content_left .rrecom-btn-parent,
#demo,
#container #gotoPage{
    display: none!important;
}
#container #content_right{
    margin-right: -6%;
}
body[baidu] {
    background-color: #f5f5f5;
}
form.fm .bdsug{
    width: 76%;
}
#ala_img_results{
    overflow:hidden;
}
body a,
body a em {
    text-decoration: none;
}

#wrapper #s_tab {
    border-bottom: #e0e0e0 1px solid;
    background-color: #f8f8f8;
}
body #head{
    background-color: #f8f8f8;
    border-bottom: none;
}
form.fm {
    background-color: unset;
}
form.fm .bdsug li {
    width: auto;
    color: #000;
    font: 15px arial;
    line-height: 26px;
}
form.fm .s_ipt_wr.bg{
    background: #fff;
    width: 76%;
}
.wrapper_l #kw{
    width: 100%;
}
form.fm .s_btn {
    background: #2866bd;
    border-bottom: 1px solid #4879bd;
}
form.fm .s_btn:hover {
    background: #4F7FbF;
    border-bottom: 1px solid #2866bd;
}
#wrapper #s_tab b {
    color: #2866bd;
    border-bottom: 3px #2866bd solid;
}

#u a {
    text-decoration: none;
}
#container .head_nums_cont_outer .search_tool_conter,
#container .head_nums_cont_outer .nums {
    width: 630px;
}
#container #content_left {
    animation-name: left_logoR;
    -webkit-animation-duration: .1s;
    -webkit-animation-timing-function: ease;
}

#container #rs,
#wrapper #rs,
#container #content_left .result,
#container #content_left .c-container {
    width: 670px;
    padding: 0px 20px 15px;
    margin-top: 0px;
    margin-bottom: 40px;
    border-radius: 5px;
    background-color: #fff;
    box-sizing: border-box;
    box-shadow: 0 0 20px 2px rgba(0, 0, 0, .1);
    -webkit-box-shadow: 0 0 20px 2px rgba(0, 0, 0, .1);
    -moz-box-shadow: 0 0 20px 2px rgba(0, 0, 0, .1);
}
#container #content_left .result-op:hover,#content_left .result:hover{
    box-shadow:0 0 2px gray!important;
    background:rgba(230,230,230,0.1)!important;
}
#container #content_left .result[tpl='soft'] .op-soft-title,
#container #content_left .result h3,
#container #content_left .c-container h3 {
    background-color: #f8f8f8;
    margin: 0px -20px 10px -20px;
    padding: 8px 20px 5px;
    border-radius: 5px 5px 0px 0px;
}
#container #content_left .f13 a,
#container #content_left .f13 em,
#container #content_left .c-span18 a,
#container #content_left .subLink_factory a,
#container #content_left .c-tabs-content a,
#container #content_left .op_offical_weibo_content a,
#container #content_left .op_offical_weibo_pz a,
#container #content_left .op_tieba2_tablinks_container a,
#container #content_left .op-tieba-general-right,
#container #content_left .op_dq01_title,
#container #content_left .op_dq01_table a,
#container #content_left .op_dq01_morelink a,
#container #content_left .op-tieba-general-mainpl a,
#container #content_left .op-se-listen-recommend,
#container #content_left .c-offset>div a {
    text-decoration: none;
    color: #2866bd;
}
#container #content_left .f13 a:hover,
#container #content_left .f13 em:hover,
#container #content_left .subLink_factory a:hover,
#container #content_left .c-tabs-content a:hover,
#container #content_left .op_tieba2_tablinks_container a:hover,
#container #content_left .op-tieba-general-right:hover,
#container #content_left .op_dq01_title:hover,
#container #content_left .op_dq01_table a:hover,
#container #content_left .op_dq01_morelink a:hover,
#container #content_left .op-tieba-general-mainpl a:hover,
#container #content_left .op-se-listen-recommend:hover,
#container #content_left .c-offset>div a:hover {
    text-decoration: underline!important;
}
#container #content_left .f13 a {
    color: #008000;
}

#container #content_left .c-span18, #content_left .c-span24{
    width: 100%;
    min-width: unset;
}
#container #content_left .c-border {
    width: auto;
    border: none;
    border-bottom-color: transparent;
    border-right-color: transparent;
    box-shadow: 0px 0px 0px transparent;
    -webkit-box-shadow: 0px 0px 0px transparent;
    -moz-box-shadow: 0px 0px 0px transparent;
    -o-box-shadow: 0px 0px 0px transparent;
}
#container #content_left .se_com_irregular_gallery ul li,
#container #content_left .op_jingyan_list,
#container #content_left .result .op-img-address-link-type {
    display: inline-block;
    margin-left: 10px;
}
#container #content_left .c-container[tpl='soft'] .op-soft-title a,
#container #content_left .c-container[tpl='soft'] .op-soft-title a em,
#container #content_left .c-container h3 a,
#container #content_left .result h3 a em {
    color: #2866bd;
    font-weight: bold;
}
#container #content_left .op-soft-title a,
#container #content_left .result h3 a {
    position: relative;
}
#container #content_left .op-soft-title a em,
#container #content_left .result h3 a em {
    text-decoration: none;
}
#container #content_left .op-soft-title a:hover:after,
#container #content_left .result h3 a:hover:after {
    left: 0;
    width: 100%;
    -webkit-transition: width 350ms;
    -moz-transition: width 350ms;
    transition: width 350ms;
}
#container #content_left .op-soft-title a:after,
#container #content_left .result h3 a:after {
    content: "";
    position: absolute;
    border-bottom: 2px solid #2866bd;
    bottom: -2px;
    left: 100%;
    width: 0;
    -webkit-transition: width 350ms, left 350ms;
    -moz-transition: width 350ms, left 350ms;
    transition: width 350ms, left 350ms;
}
#container #content_left .result h3,
#container #content_left .result-op h3{
    font-weight: bold;
    font-size: medium;
}

#container #content_left .op-soft-title a #content_left .result h3 a {
    position: relative;
}
#container #content_left .op-soft-title a:visited,
#container #content_left .op-soft-title a:visited em,
#container #content_left .result h3 a:visited,
#container #content_left .result h3 a:visited em {
    color: #660099;
}
#container #content_left .op-soft-title a:visited:hover:after,
#container #content_left .result h3 a:visited:hover:after {
    left: 0;
    width: 100%;
    -webkit-transition: width 350ms;
    -moz-transition: width 350ms;
    transition: width 350ms;
}
#container #content_left .op-soft-title a:visited:after,
#container #content_left .result h3 a:visited:after {
    content: "";
    position: absolute;
    border-bottom: 2px solid #660099;
    bottom: -2px;
    left: 100%;
    width: 0;
    -webkit-transition: width 350ms, left 350ms;
    -moz-transition: width 350ms, left 350ms;
    transition: width 350ms, left 350ms;
}
#container #rs,
#wrapper #rs{
    margin-top: 0px;
    padding: 0px 20px 15px;
    border-radius: 5px;
}
#container #rs .tt {
    margin: 0px -20px 5px -20px;
    padding: 5px 20px;
    background-color: #f8f8f8;
    border-radius: 5px 5px 0px 0px;
}
#container #rs table {
    width: 630px;
    padding: 5px 15px;
}
#container #rs table tr a {
    margin-top: 5px;
    margin-bottom: 5px;
    color: #2866bd;
}
#container #rs table tr a:hover {
    text-decoration: underline;
}
#container #page {
    min-width: 710px;
    height: 40px;
    line-height: 40px;
    padding-top: 5px;
    margin: 0px 0px 50px 80px;
}
.op-img-address-desktop-cont{
    overflow: hidden;
}
#container #page a,
#container #page strong {
    color:#2866bd;
    height: auto;
    box-shadow: 0 0 20px 2px rgba(0, 0, 0, .1);
    -webkit-box-shadow: 0 0 20px 2px rgba(0, 0, 0, .1);
    -moz-box-shadow: 0 0 20px 2px rgba(0, 0, 0, .1);
}
#container #page .n:hover,
#container #page a:hover .pc {
    border: 1px solid transparent;
    background: #d8d8d8;
    color: #0057da;
}
#container #page strong .pc {
    background: #4879bd;
    color: white;
}
@-webkit-keyframes left_logoR {
    0% {
        -webkit-transform: translateY(64px);
        opacity: 0;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

