/*存放单列居中样式*/
/*存放双列样式*/
#b_content #b_results{
    width: 80vw;
}
body #b_header{
    width: 79vw;
    background-color: #FFFFFF;
}
#b_content{
    margin-left: 5vw; 
}
#b_header{
    margin: 0 auto;
}
#b_results>li{
    width:98%;
}
/*search engine jump*/
body #sej-container{
    width: 78vw;
    margin: 0 auto;
}