/*存放双列样式*/
#b_content #b_results{
    width: 80vw;
    grid-template-columns: repeat(auto-fit,minmax(50%,1fr));
    display: inline-grid;
}
body #b_header{
    width: 79vw;
    background-color: #FFFFFF;
}
#b_msg, #b_pag{
    grid-column-end: 3;
    grid-column-start: 1;
    background-color: #FFFFFF;
}
#b_content{
    margin-left: 5vw; 
}
#b_header{
    margin: 0 auto;
}
#b_results>li{
    width:98%;
}
/*search engine jump*/
body #sej-container{
    padding-left: calc(12% - 113px) !important;
}