/*存放双列样式*/
#b_results{
    width: 80vw;
    grid-template-columns: repeat(auto-fit,minmax(50%,1fr));
    display: inline-grid;
}
#b_content{
    margin-left: 5vw; 
}
#b_header{
    margin: 0 auto;
}
#b_results>li{
    width:98%;
}